<!doctype html>

<head>Recyling Made Easy</head>

<body>

<title>Search your Borough</title>

 <section id="search-your-borough" class="search-your-borough">
 <div class="container">
 <div class="row">
 <div class="col-lg-12">

 <h1>Let's make recycling easier!</h1>
 <h2>Search your Borough</h2>
     <br>
       <input type="text" name="borough" placeholder="type borough in lower case">
       <button class="btn btn-success">Search</button>
 <br>

 <h3>{{ recycleday }}</h3>
 <h3>{{ frequency }}</h3>
 <h3>{{ generalwastedays }}</h3>
 <h3>{{ generalwastefrequency }}</h3>
 <h3>{{ foodwastedays }}</h3>
 <h3>{{ foodwastefrequency }}</h3>
 <h3>{{ materialsprovided }}</h3>
 <h3>{{ contact }}</h3>

 </div>
 </div>
 </div>
 </section>

</body>
